name: Deploy Spring Boot App to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - run: |
          chmod +x gradlew
          ./gradlew clean build -x test

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - uses: webfactory/ssh-agent@v0.8.0
        with:
          ssh-private-key: ${{ secrets.EC2_PRIVATE_KEY }}

      - run: |
          JAR_FILE=$(find build/libs -name "springboot-JWT-1.0-SNAPSHOT.jar")
          
          if [ -z "$JAR_FILE" ]; then
            echo "JAR file not found in build/libs/. Check your build output."
            exit 1
          fi
          echo "Found JAR file: $JAR_FILE"
          JAR_NAME=$(basename "$JAR_FILE")
          
          echo ">> SCP 시작"
          scp -vvv -o StrictHostKeyChecking=no "$JAR_FILE" ${{ secrets.EC2_USERNAME }}@${{ secrets.EC2_HOST }}:/home/${{ secrets.EC2_USERNAME }}/$JAR_NAME
          echo ">> SCP 완료"
          
          echo ">> SSH 시작"
          ssh -vvv -o StrictHostKeyChecking=no -T -n ${{ secrets.EC2_USERNAME }}@${{ secrets.EC2_HOST }} "echo 'SSH 접속 성공'"
          echo ">> SSH 완료"
        env:
          AWS_PAGER: ""